body {
	background-color: #eee;
}

header {
	text-align: center;
	width: 100%;
	background-color: #fff;
	padding: 1em;
	border-bottom: 1px solid #ddd;
}

main {
	max-width: 45em;
	margin: 2em auto;
}

form.filter {
	margin: 1em 0;
}

form.filter input {
	width: 100%;
	padding: 0.4em;
}

ul.disco {
	list-style: none;
	padding: 0;
}

ul.disco li form button {
	width: 100%;
	text-align: left;
	padding: 0.6em;
	background-color: #fff;
	border: 1px solid #ddd;
}

ul.disco li form button:hover, ul.disco li form button:active {
	background-color: #444;
	color: #fff;
	border: 1px solid #444;
}

footer {
	text-align: center;
	font-size: small;
}