header {
	text-align: center;
	width: 100%;
	background-color: #f8f8f8;
	padding: 1em;
    border-bottom: 1px solid #ccc;
}

main {
	max-width: 45em;
	margin: 1em auto;
    padding: 0.5em;
}

form.filter {
	margin: 1em 0;
}

form.filter input {
	width: 100%;
    padding: 0.6em;
    border: 1px solid #ccc;
    outline: none;
}

ul.disco {
	list-style: none;
	padding: 0;
}

ul.disco li {
    margin: 0.2em 0;
}

ul.disco li form input[type=submit] {
	width: 100%;
	text-align: left;
	padding: 0.6em;
	background-color: #fff;
    border: 0;
	border: 1px solid #ccc;
}

ul.disco li form input[type=submit]:hover, ul.disco li form input[type=submit]:active, ul.disco li form input[type=submit]:focus {
	background-color: #444;
	color: #fff;
	border: 1px solid #444;
}

ul.disco li form input[type=submit]:focus {
    outline: none;
}

footer {
	text-align: center;
	font-size: 75%;
    margin-bottom: 1em;
}
